.App{
	background-color: white;
	width: calc(100vw - 6rem);
	padding: 3rem;
	margin-bottom: 8rem;
}

img{
	border-radius: 0.75rem;
	width: 100%;
	max-height: calc(50vh);
	object-fit: cover;
}
h1 {
	font-size: 1.5rem;
}
h2 {
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 0.75rem;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

div#div-btn {
	text-align: center;
}
div#div-btn button {
	background-color: #FFD966;
	border: thin solid black;
	border-radius: .2em;
	font-size: 1.1rem;
	padding: 0.75rem;
}

label.optlbl {
	text-align: center;
	display: block;
	padding: 1rem;
	border: thin solid gray;
	margin: .5rem;
	border-radius: 1.15rem;
	width: 70%;
}

label.optlbl:hover {
	background-color: #FFD966;
}

label.optlbl:hover {
	background-color: #FFD966;
}

input[type="radio"]:checked + label {
	background-color: #51c6cc;
}

div.div-opt > div {
	margin: 0;
	padding: 0;
	display: block ruby;
	text-align: center;
}

div.div-opt input {
	visibility: hidden;
	position: absolute;
}
