.App{
	background-color: white;
	width: calc(100vw - 6rem);
	padding: 3rem;
}

img{
	border-radius: 0.75rem;
	width: 100%;
	max-height: calc(50vh);
	object-fit: cover;
}
h1 {
	font-size: 1.5rem;
}
h2 {
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 0.75rem;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

